In [3]:
import pandas as pd

test = pd.read_parquet("data/ocod_history_processed/OCOD_FULL_2015_10.parquet")

In [4]:
test

,title_number,within_title_id,unique_id,within_larger_title,tenure,unit_id,unit_type,building_name,street_number,street_name,...,oa_busi_building,lsoa_busi_building,lsoa_nested,oa_nested,lsoa_nested2,business_counts,lsoa_business_counts,street_match,business_address,address_match
0,236218,1,236218-1,True,Freehold,None,None,None,17 to 27,None,...,<NA>,<NA>,None,None,None,0.0,0.0,False,None,False
1,403779,1,403779-1,True,Freehold,None,None,None,156 to 162,None,...,<NA>,<NA>,None,None,None,0.0,0.0,False,None,False
2,404026,1,404026-1,True,Freehold,None,None,None,1 to 9,None,...,<NA>,<NA>,None,None,None,0.0,0.0,False,None,False
3,LN104402,1,LN104402-1,True,Freehold,None,None,None,95 to 99,None,...,<NA>,<NA>,None,None,None,0.0,0.0,False,None,False
4,LN167456,1,LN167456-1,True,Leasehold,None,None,None,13-19,None,...,<NA>,<NA>,None,None,None,0.0,0.0,False,None,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107485,YY9019,1,YY9019-1,False,Leasehold,None,None,sabourn court,None,None,...,<NA>,<NA>,None,None,None,52.0,74.0,False,None,False
107486,YY9279,1,YY9279-1,False,Leasehold,None,air,None,None,None,...,<NA>,<NA>,None,None,None,2.0,210.0,False,None,False
107487,YY9295,1,YY9295-1,False,Leasehold,None,air,None,None,None,...,<NA>,<NA>,None,None,None,2.0,210.0,False,None,False
107488,YY9805,1,YY9805-1,False,Leasehold,None,ap,None,None,None,...,<NA>,<NA>,None,None,None,36.0,261.0,False,None,False
107489,YY9844,1,YY9844-1,False,Leasehold,None,ap,None,None,None,...,<NA>,<NA>,None,None,None,36.0,261.0,False,None,False