In [1]:
from enhance_ocod.labelling.ner_spans import lfs
from enhance_ocod.labelling.weak_labelling import (process_dataframe_batch, create_flat_tag, 
create_commercial_park_tag, remove_overlapping_spans, get_overlap_stats, remove_zero_length_spans, convert_weak_labels_to_standard_format, evaluate_weak_labels)
import json
import pandas as pd 


data_to_label = "data/training_data/ground_truth_dev_set_labels.csv"

#data_to_label = "data/enhanced_ocod_data_and_gt/ground_truth_dev_set_labels.csv"

gt_path =  "data/training_data/ner_ready/ground_truth_dev_set_labels.json"

In [2]:
df = pd.read_csv(data_to_label)
#df = pd.read_csv("data/OCOD_FULL_2022_02.csv").rename(columns = {'Property Address':'property_address'})
df = df['property_address'].drop_duplicates().reset_index(drop=True).to_frame()


df= create_flat_tag(df)

df = create_commercial_park_tag(df)

/teamspace/studios/this_studio/enhance_ocod/src/enhance_ocod/labelling/weak_labelling.py:273: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df['flat_tag'] = df[text_column].str.contains(
/teamspace/studios/this_studio/enhance_ocod/src/enhance_ocod/labelling/weak_labelling.py:281: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df['commercial_park_tag'] = df[text_column].str.contains(

In [3]:
processed_data = process_dataframe_batch(df, 
                           batch_size = 1000,
                           text_column = 'property_address',
                           include_function_name = False,
                           save_intermediate = False,
                           output_dir = None,
                           verbose = True)
                           
remove_zero_length_spans(processed_data)
remove_overlapping_spans(processed_data)

Processing batches: 100%|██████████| 2/2 [00:01<00:00,  1.36it/s]

Processing complete:
  - Processed 1998 rows successfully
  - Found 10995 total spans
  - Average 5.50 spans per row

In [4]:
get_overlap_stats(processed_data)

{'total_rows': 1998,
 'rows_with_overlaps': 0,
 'overlap_percentage': 0.0,
 'total_spans_before': 9478,
 'total_overlaps_removed': 0,
 'spans_after': 9478}

In [5]:
standardised_labels = convert_weak_labels_to_standard_format(processed_data)

overall_results, class_df = evaluate_weak_labels(processed_data, 
    gt_path, 
    "data/model_performance", 
    'regex_labels')

Evaluating noisy predictions on regex_labels set...
Loaded 2000 ground truth examples
Loaded 1998 predictions

REGEX_LABELS SET RESULTS:
Overall F1: 0.9178
Overall Precision: 0.9201
Overall Recall: 0.9156

Per-class results:
building_name   precision: 0.9025  recall: 0.8875  f1: 0.8950  support: 240
city            precision: 0.9792  recall: 0.9866  f1: 0.9829  support: 524
number_filter   precision: 0.9375  recall: 0.9091  f1: 0.9231  support: 33
postcode        precision: 1.0000  recall: 1.0000  f1: 1.0000  support: 209
street_name     precision: 0.9792  recall: 0.9449  f1: 0.9618  support: 599
street_number   precision: 0.7964  recall: 0.9776  f1: 0.8777  support: 268
unit_id         precision: 0.9706  recall: 0.4286  f1: 0.5946  support: 154
unit_type       precision: 0.3472  recall: 0.7143  f1: 0.4673  support: 35

Results saved:
  Overall: data/model_performance/regex_labels_overall_performance.csv
  Per-class: data/model_performance/regex_labels_class_performance.csv

In [26]:
import pandas as pd
from enhance_ocod.labelling.weak_labelling import apply_labelling_functions_to_row

# Your example string
text = 'flats 1-30 (inclusive) tanyard place, shifnal (tf11 8bd)'

# Create a pandas row (Series) as the function expects
row = pd.Series({'text': text})

# This is how you would call the function
result = apply_labelling_functions_to_row(row, include_function_name=False)


print("Input text:")
print(f"'{text}'")
print("\nLabeled output:")
result

Input text:
'flats 1-30 (inclusive) tanyard place, shifnal (tf11 8bd)'

Labeled output:

{'text': 'flats 1-30 (inclusive) tanyard place, shifnal (tf11 8bd)',
 'spans': [{'text': 'shifnal', 'start': 38, 'end': 45, 'label': 'city'},
  {'text': 'tf11 8bd', 'start': 47, 'end': 55, 'label': 'postcode'},
  {'text': 'tanyard place', 'start': 23, 'end': 36, 'label': 'street_name'},
  {'text': '1-30', 'start': 6, 'end': 10, 'label': 'street_number'},
  {'text': '1-30', 'start': 6, 'end': 10, 'label': 'unit_id'}]}

In [34]:
with open("data/training_data/ner_ready/ground_truth_dev_set_labels.json", "r") as file:
    gt_list = json.load(file)

In [33]:
# Run diagnostics
diagnosis = diagnose_class_performance(gt_list, standardised_labels, 'unit_id')


# Print examples
print_diagnostic_examples(diagnosis, max_examples=10)
# Or access the raw data
for item in diagnosis['incorrect_predictions'][:5]:
    print(f"GT: {item['ground_truth']}")
    print(f"Pred: {item['prediction']}")
    print(f"Indexes: GT={item['gt_idx']}, Pred={item['pred_idx']}")
    print()

=== DIAGNOSTIC SUMMARY FOR CLASS: UNIT_ID ===
Total examples with unit_id in ground truth: 331
Correct predictions: 277
Incorrect predictions: 54
Missing predictions: 0
False positives: 1
Accuracy: 0.8369

=== EXAMPLES FOR UNIT_ID ===

INCORRECT PREDICTIONS (showing up to 10):
--------------------------------------------------------------------------------
Example 1:
  Text: flats 1 to 10, the briar, 43 thicket road, sutton (sm1 4qy) and storage area
  Ground Truth unit_id: [{'text': '1 to 10', 'start': 6, 'end': 13, 'label': 'unit_id'}]
  Predicted unit_id: []
  GT Index: 9, Pred Index: 952

Example 2:
  Text: ground to fifth floor flats being 2 to 6 and 9 to 50 (inclusive) castle court, 1 brewhouse lane and 1 to 16 (inclusive), 2 brewhouse lane, london
  Ground Truth unit_id: [{'text': '2 to 6', 'start': 34, 'end': 40, 'label': 'unit_id'}, {'text': '9 to 50', 'start': 45, 'end': 52, 'label': 'unit_id'}, {'text': '1 to 16', 'start': 100, 'end': 107, 'label': 'unit_id'}]
  Predicted unit_id: []
  GT Index: 28, Pred Index: 164

Example 3:
  Text: 7, 8, 9, 10 and 14 christopher court, burgage lane, ware and garages (sg12 9xd)
  Ground Truth unit_id: [{'text': '8', 'start': 3, 'end': 4, 'label': 'unit_id'}, {'text': '9', 'start': 6, 'end': 7, 'label': 'unit_id'}, {'text': '10', 'start': 9, 'end': 11, 'label': 'unit_id'}, {'text': '14', 'start': 16, 'end': 18, 'label': 'unit_id'}, {'text': '7', 'start': 0, 'end': 1, 'label': 'unit_id'}]
  Predicted unit_id: []
  GT Index: 34, Pred Index: 844

Example 4:
  Text: 31, 33 & 35 barley road, cheltenham (gl52 3nd) and flats 1-12 (inc), 2 harvest street, cheltenham, gl52 3ph
  Ground Truth unit_id: [{'text': '31', 'start': 0, 'end': 2, 'label': 'unit_id'}, {'text': '1-12', 'start': 57, 'end': 61, 'label': 'unit_id'}]
  Predicted unit_id: []
  GT Index: 41, Pred Index: 352

Example 5:
  Text: 18 beresford court, park road, twickenham (tw1 2pu)
  Ground Truth unit_id: [{'text': '18', 'start': 0, 'end': 2, 'label': 'unit_id'}]
  Predicted unit_id: []
  GT Index: 82, Pred Index: 660

Example 6:
  Text: 1, kirklands court moss hey, wirral ch63 9at
  Ground Truth unit_id: [{'text': '1', 'start': 0, 'end': 1, 'label': 'unit_id'}]
  Predicted unit_id: []
  GT Index: 96, Pred Index: 794

Example 7:
  Text: units 1, 2, 3a and 3b thorpe way, banbury
  Ground Truth unit_id: [{'text': '1', 'start': 6, 'end': 7, 'label': 'unit_id'}, {'text': '2', 'start': 9, 'end': 10, 'label': 'unit_id'}, {'text': '3b', 'start': 19, 'end': 21, 'label': 'unit_id'}]
  Predicted unit_id: [{'start': 6, 'end': 7, 'label': 'unit_id'}]
  GT Index: 123, Pred Index: 721

Example 8:
  Text: 89 to 95 strand and 2 and 3 savoy court, london
  Ground Truth unit_id: [{'text': '2', 'start': 20, 'end': 21, 'label': 'unit_id'}, {'text': '3', 'start': 26, 'end': 27, 'label': 'unit_id'}]
  Predicted unit_id: []
  GT Index: 124, Pred Index: 717

Example 9:
  Text: 103, clover court, 16 watergate walk, london (e14 9ng)
  Ground Truth unit_id: [{'text': '103', 'start': 0, 'end': 3, 'label': 'unit_id'}]
  Predicted unit_id: []
  GT Index: 135, Pred Index: 796

Example 10:
  Text: 69 pembroke court, high street, chatham, (me4 4pg)
  Ground Truth unit_id: [{'text': '69', 'start': 0, 'end': 2, 'label': 'unit_id'}]
  Predicted unit_id: []
  GT Index: 140, Pred Index: 263

FALSE POSITIVES (showing up to 10):
--------------------------------------------------------------------------------
Example 1:
  Text: flat b, 86 eaton square, london (sw1w 9ag)
  Incorrectly predicted unit_id: [{'start': 5, 'end': 6, 'label': 'unit_id'}]
  GT Index: 352, Pred Index: 269

GT: {'text': 'flats 1 to 10, the briar, 43 thicket road, sutton (sm1 4qy) and storage area', 'spans': [{'text': '1 to 10', 'start': 6, 'end': 13, 'label': 'unit_id'}, {'text': '43', 'start': 26, 'end': 28, 'label': 'street_number'}, {'text': 'thicket road', 'start': 29, 'end': 41, 'label': 'street_name'}, {'text': 'sutton', 'start': 43, 'end': 49, 'label': 'city'}, {'text': 'sm1 4qy', 'start': 51, 'end': 58, 'label': 'postcode'}, {'text': 'flats', 'start': 0, 'end': 5, 'label': 'unit_type'}, {'text': 'the briar', 'start': 15, 'end': 24, 'label': 'building_name'}]}
Pred: {'text': 'flats 1 to 10, the briar, 43 thicket road, sutton (sm1 4qy) and storage area', 'spans': [{'start': 6, 'end': 13, 'label': 'street_number'}, {'start': 15, 'end': 24, 'label': 'building_name'}, {'start': 26, 'end': 28, 'label': 'street_number'}, {'start': 29, 'end': 41, 'label': 'street_name'}, {'start': 43, 'end': 49, 'label': 'city'}, {'start': 51, 'end': 58, 'label': 'postcode'}, {'start': 64, 'end': 71, 'label': 'unit_type'}]}
Indexes: GT=9, Pred=952

GT: {'text': 'ground to fifth floor flats being 2 to 6 and 9 to 50 (inclusive) castle court, 1 brewhouse lane and 1 to 16 (inclusive), 2 brewhouse lane, london', 'spans': [{'text': '2 to 6', 'start': 34, 'end': 40, 'label': 'unit_id'}, {'text': '9 to 50', 'start': 45, 'end': 52, 'label': 'unit_id'}, {'text': 'castle court', 'start': 65, 'end': 77, 'label': 'building_name'}, {'text': '1', 'start': 79, 'end': 80, 'label': 'street_number'}, {'text': 'brewhouse lane', 'start': 81, 'end': 95, 'label': 'street_name'}, {'text': '1 to 16', 'start': 100, 'end': 107, 'label': 'unit_id'}, {'text': '2', 'start': 121, 'end': 122, 'label': 'street_number'}, {'text': 'brewhouse lane', 'start': 123, 'end': 137, 'label': 'street_name'}, {'text': 'london', 'start': 139, 'end': 145, 'label': 'city'}]}
Pred: {'text': 'ground to fifth floor flats being 2 to 6 and 9 to 50 (inclusive) castle court, 1 brewhouse lane and 1 to 16 (inclusive), 2 brewhouse lane, london', 'spans': [{'start': 34, 'end': 40, 'label': 'street_number'}, {'start': 45, 'end': 52, 'label': 'street_number'}, {'start': 65, 'end': 77, 'label': 'building_name'}, {'start': 79, 'end': 80, 'label': 'street_number'}, {'start': 81, 'end': 95, 'label': 'street_name'}, {'start': 100, 'end': 107, 'label': 'street_number'}, {'start': 121, 'end': 122, 'label': 'street_number'}, {'start': 123, 'end': 137, 'label': 'street_name'}, {'start': 139, 'end': 145, 'label': 'city'}]}
Indexes: GT=28, Pred=164

GT: {'text': '7, 8, 9, 10 and 14 christopher court, burgage lane, ware and garages (sg12 9xd)', 'spans': [{'text': '8', 'start': 3, 'end': 4, 'label': 'unit_id'}, {'text': '9', 'start': 6, 'end': 7, 'label': 'unit_id'}, {'text': '10', 'start': 9, 'end': 11, 'label': 'unit_id'}, {'text': '14', 'start': 16, 'end': 18, 'label': 'unit_id'}, {'text': 'christopher court', 'start': 19, 'end': 36, 'label': 'building_name'}, {'text': 'burgage lane', 'start': 38, 'end': 50, 'label': 'street_name'}, {'text': 'ware', 'start': 52, 'end': 56, 'label': 'city'}, {'text': 'sg12 9xd', 'start': 70, 'end': 78, 'label': 'postcode'}, {'text': '7', 'start': 0, 'end': 1, 'label': 'unit_id'}]}
Pred: {'text': '7, 8, 9, 10 and 14 christopher court, burgage lane, ware and garages (sg12 9xd)', 'spans': [{'start': 0, 'end': 1, 'label': 'street_number'}, {'start': 3, 'end': 4, 'label': 'street_number'}, {'start': 6, 'end': 7, 'label': 'street_number'}, {'start': 9, 'end': 11, 'label': 'street_number'}, {'start': 16, 'end': 18, 'label': 'street_number'}, {'start': 19, 'end': 36, 'label': 'building_name'}, {'start': 38, 'end': 50, 'label': 'street_name'}, {'start': 52, 'end': 56, 'label': 'city'}, {'start': 70, 'end': 78, 'label': 'postcode'}]}
Indexes: GT=34, Pred=844

GT: {'text': '31, 33 & 35 barley road, cheltenham (gl52 3nd) and flats 1-12 (inc), 2 harvest street, cheltenham, gl52 3ph', 'spans': [{'text': '31', 'start': 0, 'end': 2, 'label': 'unit_id'}, {'text': 'barley road', 'start': 12, 'end': 23, 'label': 'street_name'}, {'text': 'gl52 3nd', 'start': 37, 'end': 45, 'label': 'postcode'}, {'text': '1-12', 'start': 57, 'end': 61, 'label': 'unit_id'}, {'text': '2', 'start': 69, 'end': 70, 'label': 'street_number'}, {'text': 'harvest street', 'start': 71, 'end': 85, 'label': 'street_name'}, {'text': 'gl52 3ph', 'start': 99, 'end': 107, 'label': 'postcode'}]}
Pred: {'text': '31, 33 & 35 barley road, cheltenham (gl52 3nd) and flats 1-12 (inc), 2 harvest street, cheltenham, gl52 3ph', 'spans': [{'start': 0, 'end': 2, 'label': 'street_number'}, {'start': 12, 'end': 23, 'label': 'street_name'}, {'start': 37, 'end': 45, 'label': 'postcode'}, {'start': 57, 'end': 61, 'label': 'street_number'}, {'start': 69, 'end': 70, 'label': 'street_number'}, {'start': 71, 'end': 85, 'label': 'street_name'}, {'start': 99, 'end': 107, 'label': 'postcode'}]}
Indexes: GT=41, Pred=352

GT: {'text': '18 beresford court, park road, twickenham (tw1 2pu)', 'spans': [{'text': '18', 'start': 0, 'end': 2, 'label': 'unit_id'}, {'text': 'beresford court', 'start': 3, 'end': 18, 'label': 'building_name'}, {'text': 'park road', 'start': 20, 'end': 29, 'label': 'street_name'}, {'text': 'twickenham', 'start': 31, 'end': 41, 'label': 'city'}, {'text': 'tw1 2pu', 'start': 43, 'end': 50, 'label': 'postcode'}]}
Pred: {'text': '18 beresford court, park road, twickenham (tw1 2pu)', 'spans': [{'start': 0, 'end': 2, 'label': 'street_number'}, {'start': 3, 'end': 18, 'label': 'building_name'}, {'start': 20, 'end': 29, 'label': 'street_name'}, {'start': 31, 'end': 41, 'label': 'city'}, {'start': 43, 'end': 50, 'label': 'postcode'}]}
Indexes: GT=82, Pred=660

# Process the Feb 2022 dataset to create the weakly labelled training set

In [39]:
df = pd.read_csv('data/ocod_history/OCOD_FULL_2022_02.zip').rename(columns = {'Property Address':'property_address'})
#df = pd.read_csv("data/OCOD_FULL_2022_02.csv").rename(columns = {'Property Address':'property_address'})
df = df['property_address'].drop_duplicates().reset_index(drop=True).to_frame()


df= create_flat_tag(df)

df = create_commercial_park_tag(df)

processed_data = process_dataframe_batch(df, 
                           batch_size = 1000,
                           text_column = 'property_address',
                           include_function_name = False,
                           save_intermediate = False,
                           output_dir = None,
                           verbose = True)
                           
remove_zero_length_spans(processed_data)
remove_overlapping_spans(processed_data)

rows = []
for item in processed_data:

    for span in item["spans"]:
        rows.append({
            "datapoint_id": item['datapoint_id'],
            "start": span["start"],
            "end": span["end"],
            "text": span["text"],
            "label": span["label"],
            "property_address": item["text"],
        })

df2 = pd.DataFrame(rows)
df2.to_csv('data/training_data/weakly_labelled.csv')
df2

/tmp/ipykernel_452430/3814106699.py:1: DtypeWarning: Columns (24,28,30,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/ocod_history/OCOD_FULL_2022_02.zip').rename(columns = {'Property Address':'property_address'})
/teamspace/studios/this_studio/enhance_ocod/src/enhance_ocod/labelling/weak_labelling.py:273: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df['flat_tag'] = df[text_column].str.contains(
/teamspace/studios/this_studio/enhance_ocod/src/enhance_ocod/labelling/weak_labelling.py:281: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df['commercial_park_tag'] = df[text_column].str.contains(
Processing batches: 100%|██████████| 93/93 [01:07<00:00,  1.37it/s]

Processing complete:
  - Processed 92361 rows successfully
  - Found 469087 total spans
  - Average 5.08 spans per row

,datapoint_id,start,end,text,label,property_address
0,0,0,25,Westleigh Lodge Care Home,building_name,"Westleigh Lodge Care Home, Nel Pan Lane, Leigh..."
1,0,27,39,Nel Pan Lane,street_name,"Westleigh Lodge Care Home, Nel Pan Lane, Leigh..."
2,0,41,46,Leigh,city,"Westleigh Lodge Care Home, Nel Pan Lane, Leigh..."
3,0,48,55,WN7 5JT,postcode,"Westleigh Lodge Care Home, Nel Pan Lane, Leigh..."
4,1,0,4,Flat,unit_type,"Flat 1, 1a Canal Street, Manchester (M1 3HE)"
...,...,...,...,...,...,...
414464,92360,8,10,17,unit_id,"Storage 17, Discovery Dock Apartments East, 3 ..."
414465,92360,12,42,Discovery Dock Apartments East,building_name,"Storage 17, Discovery Dock Apartments East, 3 ..."
414466,92360,46,63,South Quay Square,street_name,"Storage 17, Discovery Dock Apartments East, 3 ..."
414467,92360,65,71,London,city,"Storage 17, Discovery Dock Apartments East, 3 ..."
414468,92360,73,80,E14 9RU,postcode,"Storage 17, Discovery Dock Apartments East, 3 ..."

,datapoint_id,start,end,text,label,property_address
0,0,0,25,Westleigh Lodge Care Home,building_name,"Westleigh Lodge Care Home, Nel Pan Lane, Leigh..."
1,0,27,39,Nel Pan Lane,street_name,"Westleigh Lodge Care Home, Nel Pan Lane, Leigh..."
2,0,41,46,Leigh,city,"Westleigh Lodge Care Home, Nel Pan Lane, Leigh..."
3,0,48,55,WN7 5JT,postcode,"Westleigh Lodge Care Home, Nel Pan Lane, Leigh..."
4,1,0,4,Flat,unit_type,"Flat 1, 1a Canal Street, Manchester (M1 3HE)"
...,...,...,...,...,...,...
388923,92360,0,7,Storage,unit_type,"Storage 17, Discovery Dock Apartments East, 3 ..."
388924,92360,12,42,Discovery Dock Apartments East,building_name,"Storage 17, Discovery Dock Apartments East, 3 ..."
388925,92360,46,63,South Quay Square,street_name,"Storage 17, Discovery Dock Apartments East, 3 ..."
388926,92360,65,71,London,city,"Storage 17, Discovery Dock Apartments East, 3 ..."
388927,92360,73,80,E14 9RU,postcode,"Storage 17, Discovery Dock Apartments East, 3 ..."