In [1]:
from inference_utils import example_mega_fast_csv_parsing, parse_addresses_from_csv


model_path = "models/address_parser2/checkpoint-750"
csv_path = "data/ocod_history/OCOD_FULL_2015_10.zip"

import time
start_time = time.time()

results = parse_addresses_from_csv(
    model_path=model_path,
    csv_path=csv_path,
    target_column="Property_Address",
    batch_size=2048
)

end_time = time.time()

print(f"Mega-fast CSV Parsing completed in {end_time - start_time:.2f} seconds")

Loading model from models/address_parser2/checkpoint-750
Model loaded on cuda. Labels: ['B-building_name', 'B-city', 'B-filter_type', 'B-postcode', 'B-street_name', 'B-street_number', 'B-unit_id', 'B-unit_type', 'I-building_name', 'I-city', 'I-filter_type', 'I-postcode', 'I-street_name', 'I-street_number', 'I-unit_id', 'I-unit_type', 'O']

/teamspace/studios/this_studio/enhance_ocod/inference_utils.py:197: DtypeWarning: Columns (16,23,27,29,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)

Loaded CSV from zip: data/ocod_history/OCOD_FULL_2015_10.zip
Processing 99350 addresses in batches of 2048
Processing batch 1/49
Processing batch 2/49
Processing batch 3/49
Processing batch 4/49
Processing batch 5/49
Processing batch 6/49
Processing batch 7/49
Processing batch 8/49
Processing batch 9/49
Processing batch 10/49
Processing batch 11/49
Processing batch 12/49
Processing batch 13/49
Processing batch 14/49
Processing batch 15/49
Processing batch 16/49
Processing batch 17/49
Processing batch 18/49
Processing batch 19/49
Processing batch 20/49
Processing batch 21/49
Processing batch 22/49
Processing batch 23/49
Processing batch 24/49
Processing batch 25/49
Processing batch 26/49
Processing batch 27/49
Processing batch 28/49
Processing batch 29/49
Processing batch 30/49
Processing batch 31/49
Processing batch 32/49
Processing batch 33/49
Processing batch 34/49
Processing batch 35/49
Processing batch 36/49
Processing batch 37/49
Processing batch 38/49
Processing batch 39/49
Processing batch 40/49
Processing batch 41/49
Processing batch 42/49
Processing batch 43/49
Processing batch 44/49
Processing batch 45/49
Processing batch 46/49
Processing batch 47/49
Processing batch 48/49
Processing batch 49/49
Mega-fast CSV Parsing completed in 579.93 seconds

In [6]:
results['results'][0]['entities']

[{'type': 'street_number', 'text': '2', 'start': 0, 'end': 1},
 {'type': 'postcode', 'text': 'W1S 2AT', 'start': 23, 'end': 30}]

In [1]:
import pandas as pd
import zipfile

# Path to the zip file
zip_path = "data/ocod_history/OCOD_FULL_2015_10.zip"

# Open the zip file
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    # Extract the CSV file name inside the zip
    csv_filename = "OCOD_FULL_2015_10.csv"
    
    # Read the CSV file directly from the zip archive
    df = pd.read_csv(zip_ref.open(csv_filename))

# Now df contains the data from the CSV file

/tmp/ipykernel_237026/2465846817.py:13: DtypeWarning: Columns (16,23,27,29,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(zip_ref.open(csv_filename))

In [2]:
df

      Title_Number  ... Multiple_Address_Indicator
0           100007  ...                          N
1           100073  ...                          N
2           100232  ...                          N
3           100357  ...                          N
4           100396  ...                          N
...            ...  ...                        ...
99345       YY9295  ...                          N
99346       YY9541  ...                          N
99347       YY9805  ...                          N
99348       YY9844  ...                          N
99349   Row Count:  ...                        NaN

[99350 rows x 39 columns]