In [20]:
from enhance_ocod.inference_utils import parse_addresses_from_csv, convert_to_entity_dataframe
from enhance_ocod.address_parsing_helper_functions import (load_and_prep_OCOD_data, parsing_and_expansion_process, post_process_expanded_data)
from enhance_ocod.locate_and_classify_helper_functions import (load_postcode_district_lookup, preprocess_expandaded_ocod_data, 
                                                  add_missing_lads_ocod, load_voa_ratinglist, street_and_building_matching, substreet_matching,
                                                  counts_of_businesses_per_oa_lsoa, voa_address_match_all_data, classification_type1, classification_type2,
                                                  contract_ocod_after_classification)
from enhance_ocod.price_paid_process import load_and_process_pricepaid_data
import os
import pandas as pd


model_path = "models/address_parser_full/checkpoint-35286" #checkpoint-750"
csv_path = "data/training_data/ground_truth_test_set_labels.csv"

In [39]:
from enhance_ocod.address_parsing_helper_functions import load_cleaned_labels
temp = load_cleaned_labels("data/training_data/full_dataset_no_overlaps.json")

In [40]:
temp

,labelId,label,labellingFunctionId,groundTruthId,start,end,label_text,datapoint_id,text,label_id_count
0,1,building_name,31,None,0,25,westleigh lodge care home,0,"westleigh lodge care home, nel pan lane, leigh...",0
1,3,street_name,23,None,27,39,nel pan lane,0,"westleigh lodge care home, nel pan lane, leigh...",0
2,7,city,8,None,41,46,leigh,0,"westleigh lodge care home, nel pan lane, leigh...",0
3,2,postcode,32,None,48,55,wn7 5jt,0,"westleigh lodge care home, nel pan lane, leigh...",0
4,6,unit_type,11,None,0,4,flat,1,"flat 1, 1a canal street, manchester (m1 3he)",0
...,...,...,...,...,...,...,...,...,...,...
442936,1,building_name,31,None,12,42,discovery dock apartments east,94087,"storage 17, discovery dock apartments east, 3 ...",0
442937,4,street_number,6,None,44,45,3,94087,"storage 17, discovery dock apartments east, 3 ...",0
442938,3,street_name,23,None,46,63,south quay square,94087,"storage 17, discovery dock apartments east, 3 ...",0
442939,7,city,8,None,65,71,london,94087,"storage 17, discovery dock apartments east, 3 ...",0
442940,2,postcode,32,None,73,80,e14 9ru,94087,"storage 17, discovery dock apartments east, 3 ...",0

In [30]:
pd.read_csv("data/training_data/parsed_ground_truth_complete.csv")

,title_number,within_title_id,unit_type,building_name,street_number,street_name,postcode,property_address,lsoa11cd,truth
0,28418,1,NaN,NaN,156 to 160,euston road,NW1 2DT,"156 to 160 (even) euston road, london (nw1 2dt)",E01000956,business
1,89036,1,NaN,NaN,NaN,strand,NaN,"89 to 95 strand and 2 and 3 savoy court, london",NaN,business
2,89036,2,NaN,savoy court,NaN,NaN,NaN,"89 to 95 strand and 2 and 3 savoy court, london",NaN,business
3,89036,3,NaN,savoy court,NaN,NaN,NaN,"89 to 95 strand and 2 and 3 savoy court, london",NaN,business
4,106920,1,NaN,NaN,61,winchendon road,SW6 5DH,"61 winchendon road, london (sw6 5dh)",E01001950,domestic
...,...,...,...,...,...,...,...,...,...,...
1452,YY69405,1,unit,asquith house,NaN,servia road,LS7 1AW,"unit 810, asquith house, servia road, leeds (l...",E01033005,domestic
1453,YY69484,1,unit,asquith house,NaN,servia road,LS7 1NJ,"unit 203, asquith house, servia road, leeds (l...",E01033005,domestic
1454,YY92067,1,land,NaN,NaN,link road,NaN,"land at m1-a1 link road, aberford, leeds",NaN,land
1455,YY9279,1,airspace,NaN,NaN,faith street,WF9 3AL,"airspace above 20 faith street, south kirkby, ...",E01011871,airspace
1456,YY99815,1,NaN,phoenix house,NaN,topcliffe lane,WF3 1WE,"phoenix house, topcliffe lane, tingley, wakefi...",E01011540,business

In [24]:
test = pd.read_csv(csv_path)

In [25]:
test

,label,start,end,text,input:text,input:datapoint_id
0,street_number,0,3,161,"161, 163, 165, 167 and 169 uxbridge road, ealing",13755
1,street_number,5,8,163,"161, 163, 165, 167 and 169 uxbridge road, ealing",13755
2,street_number,10,13,165,"161, 163, 165, 167 and 169 uxbridge road, ealing",13755
3,street_number,15,18,167,"161, 163, 165, 167 and 169 uxbridge road, ealing",13755
4,street_number,23,26,169,"161, 163, 165, 167 and 169 uxbridge road, ealing",13755
...,...,...,...,...,...,...
33343,street_name,20,24,john,"118 metcalfe court, john harrison way, london ...",67996
33344,street_number,25,33,harrison,"118 metcalfe court, john harrison way, london ...",67996
33345,street_name,34,37,way,"118 metcalfe court, john harrison way, london ...",67996
33346,city,39,45,london,"118 metcalfe court, john harrison way, london ...",67996
33347,postcode,47,55,se10 0bz,"118 metcalfe court, john harrison way, london ...",67996

In [29]:
ground_truth_df = pd.read_csv(csv_path)

#I only need a small number of the columns to be able to calculate the F1 score
#Everything else just makes it confusing. 
#renaming is for consistancy
ground_truth_df = ground_truth_df.rename(
    columns = {'input:text':'property_address',
              'input:datapoint_id':'datapoint_id',
              'text':'label_text'})

ground_truth_df

,label,start,end,label_text,property_address,datapoint_id
0,street_number,0,3,161,"161, 163, 165, 167 and 169 uxbridge road, ealing",13755
1,street_number,5,8,163,"161, 163, 165, 167 and 169 uxbridge road, ealing",13755
2,street_number,10,13,165,"161, 163, 165, 167 and 169 uxbridge road, ealing",13755
3,street_number,15,18,167,"161, 163, 165, 167 and 169 uxbridge road, ealing",13755
4,street_number,23,26,169,"161, 163, 165, 167 and 169 uxbridge road, ealing",13755
...,...,...,...,...,...,...
33343,street_name,20,24,john,"118 metcalfe court, john harrison way, london ...",67996
33344,street_number,25,33,harrison,"118 metcalfe court, john harrison way, london ...",67996
33345,street_name,34,37,way,"118 metcalfe court, john harrison way, london ...",67996
33346,city,39,45,london,"118 metcalfe court, john harrison way, london ...",67996
33347,postcode,47,55,se10 0bz,"118 metcalfe court, john harrison way, london ...",67996

In [ ]:


ground_truth_df = ground_truth_df.merge(all_entities.loc[all_entities.datapoint_id.isin(ground_truth_df.datapoint_id),
                                       ['start', 'end', 'datapoint_id' ,'label']
                                      ],
                     how = "left", on = ['start', 'end', 'datapoint_id'])

#These are the elements that are most important to get right
ground_truth_important_df = ground_truth_df[ground_truth_df.label_x.isin(['building_name','street_name', 'street_number','unit_id'])]

In [22]:
ocod_data = load_and_prep_OCOD_data(csv_path)


results = parse_addresses_from_csv(
    df=ocod_data,
    model_path=str(model_path),
    target_column="property_address",
    batch_size=2048
)

ValueError: 'property_address' column not found in the data

In [15]:
import torch
from transformers import AutoModelForTokenClassification, AutoTokenizer
import json
from collections import Counter

def check_model_labels(model_path):
    """Check what labels your trained model actually contains"""
    
    # Load the model
    model = AutoModelForTokenClassification.from_pretrained(model_path)
    tokenizer = AutoTokenizer.from_pretrained(model_path)
    
    print("=== MODEL LABEL CONFIGURATION ===")
    print(f"Number of labels: {model.config.num_labels}")
    print(f"id2label mapping: {model.config.id2label}")
    print(f"label2id mapping: {model.config.label2id}")
    
    expected_labels = [
        "building_name", "street_name", "street_number", "filter_type",
        "unit_id", "unit_type", "city", "postcode"
    ]
    
    print("\n=== LABEL COMPARISON ===")
    model_labels = set(model.config.label2id.keys())
    
    # Remove BIO prefixes and 'O' for comparison
    model_entity_types = set()
    for label in model_labels:
        if label.startswith('B-') or label.startswith('I-'):
            model_entity_types.add(label[2:])  # Remove B- or I- prefix
    
    print(f"Expected labels: {expected_labels}")
    print(f"Model entity types: {sorted(model_entity_types)}")
    print(f"Missing from model: {set(expected_labels) - model_entity_types}")
    print(f"Extra in model: {model_entity_types - set(expected_labels)}")
    
    return model, tokenizer

# Check your model
model, tokenizer = check_model_labels(model_path)

=== MODEL LABEL CONFIGURATION ===
Number of labels: 17
id2label mapping: {0: 'O', 1: 'B-building_name', 2: 'I-building_name', 3: 'B-street_name', 4: 'I-street_name', 5: 'B-street_number', 6: 'I-street_number', 7: 'B-filter_type', 8: 'I-filter_type', 9: 'B-unit_id', 10: 'I-unit_id', 11: 'B-unit_type', 12: 'I-unit_type', 13: 'B-city', 14: 'I-city', 15: 'B-postcode', 16: 'I-postcode'}
label2id mapping: {'B-building_name': 1, 'B-city': 13, 'B-filter_type': 7, 'B-postcode': 15, 'B-street_name': 3, 'B-street_number': 5, 'B-unit_id': 9, 'B-unit_type': 11, 'I-building_name': 2, 'I-city': 14, 'I-filter_type': 8, 'I-postcode': 16, 'I-street_name': 4, 'I-street_number': 6, 'I-unit_id': 10, 'I-unit_type': 12, 'O': 0}

=== LABEL COMPARISON ===
Expected labels: ['building_name', 'street_name', 'street_number', 'filter_type', 'unit_id', 'unit_type', 'city', 'postcode']
Model entity types: ['building_name', 'city', 'filter_type', 'postcode', 'street_name', 'street_number', 'unit_id', 'unit_type']
Missing from model: set()
Extra in model: set()

In [16]:
def analyze_training_data(json_path):
    """Analyze what labels are actually in your training data"""
    
    with open(json_path, 'r') as f:
        data = json.load(f)
    
    print("=== TRAINING DATA ANALYSIS ===")
    print(f"Total examples: {len(data)}")
    
    # Count all labels
    label_counts = Counter()
    total_spans = 0
    
    for example in data:
        for span in example.get('spans', []):
            label_counts[span['label']] += 1
            total_spans += 1
    
    print(f"Total spans: {total_spans}")
    print("\nLabel distribution:")
    for label, count in sorted(label_counts.items()):
        percentage = (count / total_spans) * 100
        print(f"  {label}: {count} ({percentage:.1f}%)")
    
    # Check for missing expected labels
    expected_labels = [
        "building_name", "street_name", "street_number", "number_filter",
        "unit_id", "unit_type", "city", "postcode"
    ]
    
    found_labels = set(label_counts.keys())
    missing_labels = set(expected_labels) - found_labels
    
    if missing_labels:
        print(f"\n⚠️  MISSING LABELS IN TRAINING DATA: {missing_labels}")
    else:
        print(f"\n✅ All expected labels found in training data")
    
    return label_counts

# Analyze your training data
label_counts = analyze_training_data("data/training_data/training_data_dev.json")

=== TRAINING DATA ANALYSIS ===
Total examples: 2000
Total spans: 11176

Label distribution:
  building_name: 797 (7.1%)
  city: 1937 (17.3%)
  number_filter: 50 (0.4%)
  postcode: 1618 (14.5%)
  street_name: 2133 (19.1%)
  street_number: 2939 (26.3%)
  unit_id: 743 (6.6%)
  unit_type: 959 (8.6%)

✅ All expected labels found in training data

In [17]:
def debug_single_prediction(model, tokenizer, address):
    """Debug what the model predicts for a single address"""
    
    model.eval()
    device = next(model.parameters()).device
    
    # Tokenize
    inputs = tokenizer(
        address,
        return_tensors="pt",
        return_offsets_mapping=True,test
        padding=True,
        truncation=True,
        max_length=128
    )
    
    # Move to device (excluding offset_mapping)
    model_inputs = {k: v.to(device) for k, v in inputs.items() if k != 'offset_mapping'}
    
    # Predict
    with torch.no_grad():
        outputs = model(**model_inputs)
        predictions = torch.nn.functional.softmax(outputs.logits, dim=-1)
        predicted_ids = predictions.argmax(dim=-1)
    
    # Get tokens and labels
    tokens = tokenizer.convert_ids_to_tokens(inputs["input_ids"][0])
    predicted_labels = [model.config.id2label[pred.item()] for pred in predicted_ids[0]]
    offset_mapping = inputs["offset_mapping"][0]
    
    print(f"=== DEBUGGING: {address} ===")
    print("Token -> Label -> Text_Span")
    print("-" * 50)
    
    for i, (token, label, offset) in enumerate(zip(tokens, predicted_labels, offset_mapping)):
        if token in ['[CLS]', '[SEP]', '[PAD]']:
            continue
        
        start_pos, end_pos = offset.tolist()
        if start_pos == 0 and end_pos == 0 and i > 0:
            text_span = "[SPECIAL]"
        else:
            text_span = address[start_pos:end_pos]
        
        print(f"{token:15} -> {label:15} -> '{text_span}'")

# Test with an address that should have street_name
test_address = "161, 163, 165, 167 and 169 uxbridge road, ealing"
debug_single_prediction(model, tokenizer, test_address)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (973226428.py, line 11)

In [7]:
from pre_processing_funcs import *
from tqdm import tqdm

In [31]:
with open("data/training_data/full_dataset_no_overlaps.json", 'r') as f:
    data = json.load(f)

In [37]:
data[5]

{'text': '81 hawksbill way, peterborough (pe2 8ns)',
 'labels': [{'labelId': '4',
   'label': 'street_number',
   'labellingFunctionId': 4,
   'groundTruthId': None,
   'start': 0,
   'end': 2,
   'text': '81'},
  {'labelId': '3',
   'label': 'street_name',
   'labellingFunctionId': 23,
   'groundTruthId': None,
   'start': 3,
   'end': 16,
   'text': 'hawksbill way'},
  {'labelId': '7',
   'label': 'city',
   'labellingFunctionId': 8,
   'groundTruthId': None,
   'start': 18,
   'end': 30,
   'text': 'peterborough'},
  {'labelId': '2',
   'label': 'postcode',
   'labellingFunctionId': 32,
   'groundTruthId': None,
   'start': 32,
   'end': 39,
   'text': 'pe2 8ns'}],
 'datapoint_id': 5,
 'title_number': 'CB392311'}

In [3]:
def transform_json(input_json):
    output_json = []
    
    for entry in input_json:
        transformed_entry = {
            "text": entry['text'],
            "spans": []
        }
        
        for label in entry['labels']:
            span = {
                "text": label['text'],
                "start": label['start'],
                "end": label['end'],
                "label": label['label']
            }
            transformed_entry["spans"].append(span)
        
        output_json.append(transformed_entry)
    
    return output_json

In [4]:
data2 = transform_json(data)

with open('data/training_data/converted_full_dataset.json', 'w', encoding='utf-8') as f:
    json.dump(data2, f, ensure_ascii=False, indent=2)

In [8]:


for file in tqdm(['converted_full_dataset', 'training_data_dev', 'training_data_test']):
    
    temp = load_and_preprocess_data(f'data/training_data/{file}.json')
    with open(f'data/training_data/preprocessed_data/{file}.json', 'w', encoding='utf-8') as f:
        json.dump(temp, f, ensure_ascii=False, indent=2)

  0%|          | 0/3 [00:00<?, ?it/s]

Loaded 94088 examples
✓ All spans validated successfully

 33%|███▎      | 1/3 [00:15<00:31, 15.64s/it]

Loaded 2000 examples
Warning: Could not find 'st . james heights' in text
Warning: Could not find '01/06/22' in text
Warning: Could not find 'queen anne 's gate' in text
Warning: Could not find '04/06/22' in text
Warning: Could not find '07/11/22' in text
Warning: Could not find '03/09/22' in text
Warning: Could not find 'st katharine 's dock' in text
Warning: Could not find '06/08/22' in text
Warning: Could not find '08/10/22' in text
Warning: Could not find '05/07/22' in text
Warning: Could not find '02/04/22' in text
Warning: Could not find '01/08/22' in text
Warning: Could not find '01/08/22' in text
Warning: Could not find '02/04/22' in text
Warning: Could not find 'duchess of bedford 's walk' in text
Warning: Could not find '02/08/22' in text
Warning: Could not find 'friends ' road' in text
Warning: Could not find '10/11/22' in text
Warning: Could not find 'st john 's wood park' in text
Warning: Could not find '03/05/22' in text
Warning: Could not find '05/06/22' in text
Warning: Could not find 'earl 's court road' in text
Warning: Could not find 'st john 's road' in text
Warning: Could not find 'st james 's place' in text
Warning: Could not find '10/11/22' in text
Warning: Could not find '01/03/22' in text
Warning: Could not find '10/11/22' in text
Warning: Could not find '01/03/22' in text
Warning: Could not find '01/06/22' in text
Warning: Could not find '10/12/22' in text
Warning: Could not find '06/07/22' in text
Warning: Could not find '01/03/22' in text
Warning: Could not find 'st peter 's street' in text
Warning: Could not find '11/12/22' in text
Warning: Could not find '05/07/22' in text
Warning: Could not find 'st . andrews house' in text
Warning: Could not find '02/04/22' in text
Warning: Could not find 'queen 's gate place' in text
Warning: Could not find '04/07/22' in text
Warning: Could not find 'st james 's street' in text
Warning: Could not find 'st andrew 's hill' in text
Warning: Could not find 'deadman 's lane' in text
Warning: Could not find '01/09/22' in text
Warning: Could not find '01/09/22' in text
Warning: Could not find '01/03/22' in text
Warning: Could not find '01/09/22' in text
Warning: Could not find '04/07/22' in text
Warning: Could not find '05/10/22' in text
Warning: Could not find 'earl 's court gardens' in text
Warning: Could not find '05/09/22' in text
Warning: Could not find 'saint john 's road' in text
Warning: Could not find 'st mary 's way' in text
Warning: Could not find '03/05/22' in text
Warning: Could not find 'earl 's court road' in text
Warning: Could not find '01/07/22' in text
Warning: Could not find '03/05/22' in text
Warning: Could not find '01/03/22' in text
Warning: Could not find 'st . james heights' in text
Warning: Could not find '03/04/22' in text
Warning: Could not find 'st . bartholomews house' in text
Warning: Could not find 'st john 's wood park' in text
Mismatch in example 2: expected 'st . james heights', got 'flat 9, st. james '
Mismatch in example 50: expected '01/06/22', got '30 - 44 '
Mismatch in example 66: expected 'queen anne 's gate', got '1 queen anne's gat'
Mismatch in example 137: expected '04/06/22', got 'flat 6, '
Mismatch in example 138: expected '07/11/22', got 'flat 4, '
Mismatch in example 215: expected '03/09/22', got '39 - 45 '
Mismatch in example 236: expected 'st katharine 's dock', got 'europe house, st kat'
Mismatch in example 254: expected '06/08/22', got '6 - 8 ve'
Mismatch in example 257: expected '08/10/22', got 'point a '
Mismatch in example 259: expected '05/07/22', got '5 - 7 ir'
Mismatch in example 311: expected '02/04/22', got 'flat 9, '
Mismatch in example 355: expected '01/08/22', got 'apartmen'
Mismatch in example 355: expected '01/08/22', got 'apartmen'
Mismatch in example 370: expected '02/04/22', got '2 - 4 we'
Mismatch in example 453: expected 'duchess of bedford 's walk', got 'garage 1, sheldrake place,'
Mismatch in example 492: expected '02/08/22', got '2 - 8 ne'
Mismatch in example 501: expected 'friends ' road', got '56 friends' ro'
Mismatch in example 516: expected '10/11/22', got 'flat 12,'
Mismatch in example 529: expected 'st john 's wood park', got 'garage 30, boydell c'
Mismatch in example 549: expected '03/05/22', got 'land lyi'
Mismatch in example 555: expected '05/06/22', got 'the lowe'
Mismatch in example 633: expected 'earl 's court road', got '111a to 119 (odd n'
Mismatch in example 671: expected 'st john 's road', got 'land and buildi'
Mismatch in example 696: expected 'st james 's place', got 'garage 3, castlem'
Mismatch in example 745: expected '10/11/22', got '10 - 11 '
Mismatch in example 976: expected '01/03/22', got '1 - 3, 1'
Mismatch in example 976: expected '10/11/22', got '1 - 3, 1'
Mismatch in example 985: expected '01/03/22', got '1 - 3 ki'
Mismatch in example 994: expected '01/06/22', got 'unit 6, '
Mismatch in example 1029: expected '10/12/22', got '10 - 12 '
Mismatch in example 1079: expected '06/07/22', got '6 - 7 co'
Mismatch in example 1115: expected '01/03/22', got '1 - 3 ea'
Mismatch in example 1158: expected 'st peter 's street', got 'land on the north '
Mismatch in example 1166: expected '11/12/22', got '11 - 12 '
Mismatch in example 1170: expected '05/07/22', got 'josaron '
Mismatch in example 1174: expected 'st . andrews house', got 'st. andrews house,'
Mismatch in example 1196: expected '02/04/22', got 'flat 9a,'
Mismatch in example 1198: expected 'queen 's gate place', got 'flat a, 20 queen's '
Mismatch in example 1200: expected '04/07/22', got 'flat 5, '
Mismatch in example 1216: expected 'st james 's street', got '60 st james's stre'
Mismatch in example 1218: expected 'st andrew 's hill', got '160 queen victori'
Mismatch in example 1490: expected 'deadman 's lane', got 'land at swanwoo'
Mismatch in example 1517: expected '01/09/22', got '1 - 9 ( '
Mismatch in example 1518: expected '01/09/22', got '1, 2, 4 '
Mismatch in example 1518: expected '01/03/22', got '1, 2, 4 '
Mismatch in example 1518: expected '01/09/22', got '1, 2, 4 '
Mismatch in example 1518: expected '04/07/22', got '1, 2, 4 '
Mismatch in example 1518: expected '05/10/22', got '1, 2, 4 '
Mismatch in example 1578: expected 'earl 's court gardens', got 'flat 9, 28 earl's cou'
Mismatch in example 1618: expected '05/09/22', got '5 - 9 (o'
Mismatch in example 1642: expected 'saint john 's road', got 'land on east side '
Mismatch in example 1691: expected 'st mary 's way', got 'land lying to '
Mismatch in example 1704: expected '03/05/22', got 'flat 45,'
Mismatch in example 1722: expected 'earl 's court road', got 'shop units 1 to 5 '
Mismatch in example 1739: expected '01/07/22', got 'flats 1 '
Mismatch in example 1814: expected '03/05/22', got '3 - 5 co'
Mismatch in example 1849: expected '01/03/22', got '1 - 3 br'
Mismatch in example 1857: expected 'st . james heights', got 'flat 20, st. james'
Mismatch in example 1874: expected '03/04/22', got '3 - 4 ne'
Mismatch in example 1897: expected 'st . bartholomews house', got 'st. bartholomews house,'
Mismatch in example 1937: expected 'st john 's wood park', got 'flat 58, boydell cou'
✗ Some spans failed validation

100%|██████████| 3/3 [00:16<00:00,  5.44s/it]

Loaded 1000 examples
Warning: Could not find 'w1 t 2dd' in text
Warning: Could not find 'm6 6 ha' in text
Warning: Could not find '01/11/22' in text
Warning: Could not find 'cv6 6 ha' in text
Warning: Could not find 'bury st . edmunds' in text
Warning: Could not find '04/05/22' in text
Warning: Could not find '07/08/22' in text
Warning: Could not find 'w1 t 3lr' in text
Warning: Could not find 'st . helens' in text
Warning: Could not find '10/12/22' in text
Warning: Could not find 'st . helens' in text
Warning: Could not find 'cr4 2 ha' in text
Warning: Could not find 'll53 5 ha' in text
Warning: Could not find 'w1 g 6jx' in text
Warning: Could not find '01/11/22' in text
Warning: Could not find '03/05/22' in text
Warning: Could not find '01/09/22' in text
Warning: Could not find 'w1 t 3bg' in text
Warning: Could not find 'st . helens' in text
Warning: Could not find 'st . helens' in text
Warning: Could not find 'w1 g 8pb' in text
Warning: Could not find 'st . helens' in text
Warning: Could not find 'n6 4 lb' in text
Warning: Could not find 'ec4 m 9be' in text
Warning: Could not find 'w1 t 2aj' in text
Warning: Could not find '01/12/22' in text
Warning: Could not find 'st . helens' in text
Warning: Could not find 'ec2 m 3xf' in text
Warning: Could not find '01/12/22' in text
Warning: Could not find '01/09/22' in text
Warning: Could not find '01/12/22' in text
Warning: Could not find 'cv34 5 lb' in text
Warning: Could not find '08/10/22' in text
Warning: Could not find 'ec3 m 7aa' in text
Warning: Could not find '01/02/22' in text
Warning: Could not find 'st . albans' in text
Warning: Could not find 'ec3 m 1ae' in text
Warning: Could not find '02/04/22' in text
Warning: Could not find '07/08/22' in text
Warning: Could not find '02/04/22' in text
Warning: Could not find 'w1 t 1qf' in text
Warning: Could not find 'st . helens' in text
Warning: Could not find 'w1k 6 lb' in text
Mismatch in example 21: expected 'w1 t 2dd', got '31 percy'
Mismatch in example 63: expected 'm6 6 ha', got '24 - 34'
Mismatch in example 63: expected '01/11/22', got '24 - 34 '
Mismatch in example 81: expected 'cv6 6 ha', got '6 chingf'
Mismatch in example 99: expected 'bury st . edmunds', got 'hall farm bungalo'
Mismatch in example 146: expected '04/05/22', got '4 - 5 an'
Mismatch in example 146: expected '07/08/22', got '4 - 5 an'
Mismatch in example 151: expected 'w1 t 3lr', got '25 - 33 '
Mismatch in example 216: expected 'st . helens', got '31 chadwick'
Mismatch in example 236: expected '10/12/22', got 'tollman '
Mismatch in example 263: expected 'st . helens', got '35 chadwick'
Mismatch in example 271: expected 'cr4 2 ha', got '14a grah'
Mismatch in example 281: expected 'll53 5 ha', got 'pysgod ll'
Mismatch in example 343: expected 'w1 g 6jx', got 'flat 6, '
Mismatch in example 389: expected '01/11/22', got '1 - 11 ('
Mismatch in example 396: expected '03/05/22', got '3 - 5 gr'
Mismatch in example 417: expected '01/09/22', got 'marcello'
Mismatch in example 419: expected 'w1 t 3bg', got 'apartmen'
Mismatch in example 424: expected 'st . helens', got '17 coniston'
Mismatch in example 425: expected 'st . helens', got '46 woodland'
Mismatch in example 432: expected 'w1 g 8pb', got '34 wimpo'
Mismatch in example 451: expected 'st . helens', got '49 litherla'
Mismatch in example 459: expected 'n6 4 lb', got 'oaklawn'
Mismatch in example 472: expected 'ec4 m 9be', got 'sixth and'
Mismatch in example 474: expected 'w1 t 2aj', got 'the hope'
Mismatch in example 475: expected '01/12/22', got 'flats 1 '
Mismatch in example 524: expected 'st . helens', got '74 newlands'
Mismatch in example 540: expected 'ec2 m 3xf', got 'premises '
Mismatch in example 575: expected '01/12/22', got '1 - 12 e'
Mismatch in example 575: expected '01/09/22', got '1 - 12 e'
Mismatch in example 593: expected '01/12/22', got '31, 33 &'
Mismatch in example 651: expected 'cv34 5 lb', got 'unit 1, w'
Mismatch in example 665: expected '08/10/22', got 'lobby (f'
Mismatch in example 720: expected 'ec3 m 7aa', got 'third flo'
Mismatch in example 735: expected '01/02/22', got 'manor co'
Mismatch in example 787: expected 'st . albans', got 'forrester h'
Mismatch in example 869: expected 'ec3 m 1ae', got 'sixth flo'
Mismatch in example 869: expected '02/04/22', got 'sixth fl'
Mismatch in example 903: expected '07/08/22', got '7 - 8 ge'
Mismatch in example 908: expected '02/04/22', got 'flat 1, '
Mismatch in example 941: expected 'w1 t 1qf', got 'the base'
Mismatch in example 962: expected 'st . helens', got '56 east lan'
Mismatch in example 995: expected 'w1k 6 lb', got 'flat 14,'
✗ Some spans failed validation

In [12]:
with open("data/training_data/preprocessed_data/training_data_dev.json", 'r') as f:
    data = json.load(f)

In [13]:
data[2]

{'text': 'flat 9, st. james heights, paradise walk, bexhill - on - sea (tn40 2lg)',
 'spans': [{'text': 'bexhill',
   'start': 42,
   'end': 49,
   'label': 'street_number'},
  {'text': 'paradise walk', 'start': 27, 'end': 40, 'label': 'street_name'},
  {'text': '9', 'start': 5, 'end': 6, 'label': 'unit_id'},
  {'text': 'bexhill - on - sea', 'start': 42, 'end': 60, 'label': 'city'},
  {'text': '-', 'start': 50, 'end': 51, 'label': 'street_number'},
  {'text': 'st . james heights',
   'start': 0,
   'end': 18,
   'label': 'building_name'},
  {'text': 'sea', 'start': 57, 'end': 60, 'label': 'street_number'},
  {'text': 'on', 'start': 52, 'end': 54, 'label': 'street_number'},
  {'text': 'st. james heights',
   'start': 8,
   'end': 25,
   'label': 'building_name'},
  {'text': 'flat', 'start': 0, 'end': 4, 'label': 'unit_type'},
  {'text': '-', 'start': 50, 'end': 51, 'label': 'street_number'},
  {'text': 'tn40 2lg', 'start': 62, 'end': 70, 'label': 'postcode'}]}

In [15]:
with open("data/training_data/training_data_dev.json", 'r') as f:
    data2 = json.load(f)

In [17]:
data2[2]

{'text': 'flat 9, st. james heights, paradise walk, bexhill-on-sea (tn40 2lg)',
 'spans': [{'text': 'bexhill',
   'start': 42,
   'end': 49,
   'label': 'street_number'},
  {'text': 'paradise walk', 'start': 27, 'end': 40, 'label': 'street_name'},
  {'text': '9', 'start': 5, 'end': 6, 'label': 'unit_id'},
  {'text': 'bexhill-on-sea', 'start': 42, 'end': 56, 'label': 'city'},
  {'text': '-', 'start': 49, 'end': 50, 'label': 'street_number'},
  {'text': 'st . james heights',
   'start': 8,
   'end': 25,
   'label': 'building_name'},
  {'text': 'sea', 'start': 53, 'end': 56, 'label': 'street_number'},
  {'text': 'on', 'start': 50, 'end': 52, 'label': 'street_number'},
  {'text': 'st. james heights',
   'start': 8,
   'end': 25,
   'label': 'building_name'},
  {'text': 'flat', 'start': 0, 'end': 4, 'label': 'unit_type'},
  {'text': '-', 'start': 52, 'end': 53, 'label': 'street_number'},
  {'text': 'tn40 2lg', 'start': 58, 'end': 66, 'label': 'postcode'}]}