In [9]:
from enhance_ocod.labelling.ner_spans import lfs
from enhance_ocod.labelling.weak_labelling import (process_dataframe_batch, create_flat_tag, 
create_commercial_park_tag, remove_overlapping_spans, get_overlap_stats, remove_zero_length_spans, convert_weak_labels_to_standard_format, evaluate_weak_labels)

import pandas as pd 


data_to_label = "data/training_data/ground_truth_dev_set_labels.csv"

data_to_label = "data/enhanced_ocod_data_and_gt/ground_truth_dev_set_labels.csv"

gt_path =  "data/training_data/ner_ready/ground_truth_test_set_labels.json"

In [ ]:
df = pd.read_csv(data_to_label)
#df = pd.read_csv("data/OCOD_FULL_2022_02.csv").rename(columns = {'Property Address':'property_address'})
df = df['property_address'].drop_duplicates().reset_index(drop=True).to_frame()


df= create_flat_tag(df)

df = create_commercial_park_tag(df)

/home/jonno/enhance_ocod/src/enhance_ocod/labelling/weak_labelling.py:273: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df['flat_tag'] = df[text_column].str.contains(
/home/jonno/enhance_ocod/src/enhance_ocod/labelling/weak_labelling.py:281: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df['commercial_park_tag'] = df[text_column].str.contains(

In [6]:
test = process_dataframe_batch(df, 
                           batch_size = 1000,
                           text_column = 'property_address',
                           include_function_name = False,
                           save_intermediate = False,
                           output_dir = None,
                           verbose = True)
                           
remove_zero_length_spans(test)
remove_overlapping_spans(test)

Processing batches: 100%|██████████| 2/2 [00:00<00:00,  2.04it/s]

Processing complete:
  - Processed 1998 rows successfully
  - Found 10088 total spans
  - Average 5.05 spans per row

In [7]:
get_overlap_stats(test)

{'total_rows': 1998,
 'rows_with_overlaps': 0,
 'overlap_percentage': 0.0,
 'total_spans_before': 8411,
 'total_overlaps_removed': 0,
 'spans_after': 8411}

In [ ]:
test2 = convert_weak_labels_to_standard_format(test)

overall_results, class_df = evaluate_weak_labels(test2, 
    gt_path, 
    "enhance_ocod/data/model_performance", 
    'regex_labels')

Evaluating noisy predictions on regex_labels set...

FileNotFoundError: [Errno 2] No such file or directory: 'data/training_data/ner_ready/ground_truth_test_set_labels.json'

In [11]:
import pandas as pd
from enhance_ocod.labelling.weak_labelling import apply_labelling_functions_to_row

# Your example string
text = "15 to 27 (odd numbers) gandul towers, gee street and 66 to 74 (even numbers) bastwick street"

# Create a pandas row (Series) as the function expects
row = pd.Series({'text': text})

# This is how you would call the function
result = apply_labelling_functions_to_row(row, include_function_name=False)


print("Input text:")
print(f"'{text}'")
print("\nLabeled output:")
result

Input text:
'15 to 27 (odd numbers) gandul towers, gee street and 66 to 74 (even numbers) bastwick street'

Labeled output:

{'text': '15 to 27 (odd numbers) gandul towers, gee street and 66 to 74 (even numbers) bastwick street',
 'spans': [{'text': 'gandul towers',
   'start': 23,
   'end': 36,
   'label': 'building_name'},
  {'text': 'gee street', 'start': 38, 'end': 48, 'label': 'city'},
  {'text': 'odd', 'start': 10, 'end': 13, 'label': 'number_filter'},
  {'text': 'even', 'start': 63, 'end': 67, 'label': 'number_filter'},
  {'text': 'gee street', 'start': 38, 'end': 48, 'label': 'street_name'},
  {'text': 'bastwick street', 'start': 77, 'end': 92, 'label': 'street_name'},
  {'text': '66', 'start': 53, 'end': 55, 'label': 'street_number'},
  {'text': '15', 'start': 0, 'end': 2, 'label': 'street_number'},
  {'text': '15 to 27', 'start': 0, 'end': 8, 'label': 'street_number'},
  {'text': '66 to 74', 'start': 53, 'end': 61, 'label': 'street_number'},
  {'text': '15 to 27', 'start': 0, 'end': 8, 'label': 'unit_id'},
  {'text': '66 to 74', 'start': 53, 'end': 61, 'label': 'unit_id'}]}

In [10]:
df

,property_address,flat_tag,commercial_park_tag
0,"90 craven park, london (nw10 8qe)",False,False
1,"land on the west side of wisbech road, march",False,False
2,"20a bute street, london (sw7 3ex)",False,False
3,"6 city road, finsbury, (ec1y 2aa)",False,False
4,"indigo works, oil sites road, ellesmere port",False,False
...,...,...,...
995,"56 east lancashire road, st. helens (wa11 9ab)",False,False
996,"flat 2, 34 lennox gardens, london (sw1x 0dh)",True,False
997,"15 the mound, london (se9 3ba)",False,False
998,"flat 13, chelsea house, 26 lowndes street, lon...",True,False
999,"60 wellington parade, walmer, deal (ct14 8ab)",False,False

In [2]:
df = pd.read_csv('data/ocod_history/OCOD_FULL_2022_02.zip').rename(columns = {'Property Address':'property_address'})
#df = pd.read_csv("data/OCOD_FULL_2022_02.csv").rename(columns = {'Property Address':'property_address'})
df = df['property_address'].drop_duplicates().reset_index(drop=True).to_frame()


df= create_flat_tag(df)

df = create_commercial_park_tag(df)

test = process_dataframe_batch(df, 
                           batch_size = 1000,
                           text_column = 'property_address',
                           include_function_name = False,
                           save_intermediate = False,
                           output_dir = None,
                           verbose = True)
                           
remove_zero_length_spans(test)
remove_overlapping_spans(test)

/tmp/ipykernel_45579/197950213.py:1: DtypeWarning: Columns (24,28,30,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/ocod_history/OCOD_FULL_2022_02.zip').rename(columns = {'Property Address':'property_address'})
/teamspace/studios/this_studio/enhance_ocod/src/enhance_ocod/labelling/weak_labelling.py:273: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df['flat_tag'] = df[text_column].str.contains(
/teamspace/studios/this_studio/enhance_ocod/src/enhance_ocod/labelling/weak_labelling.py:281: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df['commercial_park_tag'] = df[text_column].str.contains(
Processing batches: 100%|██████████| 93/93 [01:07<00:00,  1.37it/s]

Processing complete:
  - Processed 92361 rows successfully
  - Found 452678 total spans
  - Average 4.90 spans per row

In [7]:
rows = []
for item in test:

    for span in item["spans"]:
        rows.append({
            "datapoint_id": item['datapoint_id'],
            "start": span["start"],
            "end": span["end"],
            "text": span["text"],
            "label": span["label"],
            "property_address": item["text"],
        })

df2 = pd.DataFrame(rows)
df2.to_csv('data/training_data/weakly_labelled.csv')
df2

,datapoint_id,start,end,text,label,property_address
0,0,0,25,Westleigh Lodge Care Home,building_name,"Westleigh Lodge Care Home, Nel Pan Lane, Leigh..."
1,0,27,39,Nel Pan Lane,street_name,"Westleigh Lodge Care Home, Nel Pan Lane, Leigh..."
2,0,41,46,Leigh,city,"Westleigh Lodge Care Home, Nel Pan Lane, Leigh..."
3,0,48,55,WN7 5JT,postcode,"Westleigh Lodge Care Home, Nel Pan Lane, Leigh..."
4,1,0,4,Flat,unit_type,"Flat 1, 1a Canal Street, Manchester (M1 3HE)"
...,...,...,...,...,...,...
388923,92360,0,7,Storage,unit_type,"Storage 17, Discovery Dock Apartments East, 3 ..."
388924,92360,12,42,Discovery Dock Apartments East,building_name,"Storage 17, Discovery Dock Apartments East, 3 ..."
388925,92360,46,63,South Quay Square,street_name,"Storage 17, Discovery Dock Apartments East, 3 ..."
388926,92360,65,71,London,city,"Storage 17, Discovery Dock Apartments East, 3 ..."
388927,92360,73,80,E14 9RU,postcode,"Storage 17, Discovery Dock Apartments East, 3 ..."