# Analysing the cleaned OCOD dataset

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))
import pandas as pd
import numpy as np
import re

In [2]:
ocod_data =  pd.read_csv("/tf/empty_homes_data/OCOD_cleaned_expanded.csv")

In [3]:
ocod_data

,Unnamed: 0,title_number,within_title_id,unique_id,within_larger_title,tenure,unit_id,unit_type,building_name,street_number,street_name,postcode,city,district,county,region,multiple_address_indicator,price_paid,property_address
0,0,CB400630,1,CB400630-1,True,Freehold,NaN,NaN,NaN,2,miller way,NaN,NaN,CITY OF PETERBOROUGH,CITY OF PETERBOROUGH,EAST ANGLIA,N,NaN,"2-24 (even) Miller Way, 15-25 Hammonds Drive (..."
1,1,CB400630,2,CB400630-2,True,Freehold,NaN,NaN,NaN,4,miller way,NaN,NaN,CITY OF PETERBOROUGH,CITY OF PETERBOROUGH,EAST ANGLIA,N,NaN,"2-24 (even) Miller Way, 15-25 Hammonds Drive (..."
2,2,CB400630,3,CB400630-3,True,Freehold,NaN,NaN,NaN,6,miller way,NaN,NaN,CITY OF PETERBOROUGH,CITY OF PETERBOROUGH,EAST ANGLIA,N,NaN,"2-24 (even) Miller Way, 15-25 Hammonds Drive (..."
3,3,CB400630,4,CB400630-4,True,Freehold,NaN,NaN,NaN,8,miller way,NaN,NaN,CITY OF PETERBOROUGH,CITY OF PETERBOROUGH,EAST ANGLIA,N,NaN,"2-24 (even) Miller Way, 15-25 Hammonds Drive (..."
4,4,CB400630,5,CB400630-5,True,Freehold,NaN,NaN,NaN,10,miller way,NaN,NaN,CITY OF PETERBOROUGH,CITY OF PETERBOROUGH,EAST ANGLIA,N,NaN,"2-24 (even) Miller Way, 15-25 Hammonds Drive (..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157355,88017,AGL465007,1,AGL465007-1,False,Leasehold,807,flat,heritage tower,118,east ferry road,E14 3NW,london,TOWER HAMLETS,GREATER LONDON,GREATER LONDON,N,479950.0,"Flat 807, Heritage Tower, 118 East Ferry Road,..."
157356,88018,AGL465195,1,AGL465195-1,False,Leasehold,NaN,NaN,ormond house,4t,queen victoria street,EC4N 4UA,london,CITY OF LONDON,GREATER LONDON,GREATER LONDON,N,NaN,"4th Floor, Ormond House, 63 Queen Victoria Str..."
157357,88019,AGL473126,1,AGL473126-1,False,Leasehold,NaN,NaN,NaN,155,NaN,EC2M 3AD,london,CITY OF LONDON,GREATER LONDON,GREATER LONDON,N,NaN,"155 Bishopsgate, London (EC2M 3AD)"
157358,88020,AGL475468,1,AGL475468-1,False,Leasehold,NaN,NaN,NaN,NaN,NaN,EC3A 7BA,london,CITY OF LONDON,GREATER LONDON,GREATER LONDON,N,NaN,"part of Tenth Floor, 6 Bevis Marks, London (EC..."
157359,88021,AGL476501,1,AGL476501-1,False,Leasehold,NaN,storage,NaN,3,south quay square,E14 9RU,london,TOWER HAMLETS,GREATER LONDON,GREATER LONDON,N,NaN,"Storage 17, Discovery Dock Apartments East, 3 ..."

In [4]:
ocod_data.groupby('unit_type').size()

unit_type
airspace              1559
apartment             5188
business               286
cafe                     8
car park space          51
car parking space      448
cinema                   8
flat                 14302
garage                 409
hotel                   80
land                 12736
office                  91
parking space         1113
penthouse               92
plot                  2466
pub                      1
restaurant              18
room                   960
storage                144
store                  162
suite                  134
unit                  3481
dtype: int64

In [5]:
ocod_data.postcode.isnull().sum()/ocod_data.shape[0] #How can location be given when missing postcode?

0.359233604473818

In [6]:
#only 7000 have neither postcode nor street name
#This means I can try to geomatch using street name. In the best case only 4% of addresses will not be matched
pd.crosstab(ocod_data.postcode.notnull(), ocod_data.street_name.notnull())#/ocod_data.shape[0]

street_name  False   True
postcode
False         6641  49888
True         13706  87125

## Load Voa and get business postcodes

This alllows businesses to be identified

In [7]:
VOA_headers_raw= ["Incrementing Entry Number", "Billing Authority Code", "NDR Community Code", 
 "BA Reference Number", "Primary And Secondary Description Code", "Primary Description Text",
"Unique Address Reference Number UARN", "Full Property Identifier", "Firms Name", "Number Or Name",
"Street", "Town", "Postal District", "County", "Postcode", "Effective Date", "Composite Indicator",
 "Rateable Value", "Appeal Settlement Code", "Assessment Reference", "List Alteration Date", "SCAT Code And Suffix",
 "Sub Street level 3", "Sub Street level 2", "Sub Street level 1", "Case Number", 
 "Current From Date", "Current To Date", 
]

#set to lower and replace spaces with underscore to turn the names into appropriate column names
VOA_headers = [x.lower().replace(" ", "_") for x in VOA_headers_raw]


voa_businesses =  pd.read_csv('/tf/empty_homes_data/' +
                    'uk-englandwales-ndr-2017-listentries-compiled-epoch-0029-baseline-csv.csv',
                   sep = "*",
                   encoding_errors= 'ignore',
                    header=None,
                   names = VOA_headers,
                    index_col = False,
                    #usecols = list(range(1,28))
                   )
voa_businesses['postcode'] = voa_businesses['postcode'].str.lower()

#Create a dataframe that contains the counts of businesses per postcode
postcode_counts_voa = voa_businesses.groupby('postcode').size().reset_index(name = 'business_counts')

#del voa_businesses

ocod_data = pd.merge(ocod_data, postcode_counts_voa, on = "postcode", how = "left")
ocod_data["business_counts"] = ocod_data["business_counts"].fillna(0)

<ipython-input-7-804235ce451f>:14: DtypeWarning: Columns (1,2,6,12,13,17,22) have mixed types. Specify dtype option on import or set low_memory=False.
  voa_businesses =  pd.read_csv('/tf/empty_homes_data/' +

In [8]:
#voa_businesses[['primary_description_text','full_property_identifier', 'rateable_value','postcode']]

# Classify property type

In [80]:
ocod_data['class'] = np.select(
    [
        ocod_data['property_address'].str.contains(r"^(land|plot)", case = False),
        ocod_data['property_address'].str.contains(r"^((garage)|(parking(\s)?space)|(parking space)|(car park(ing)?(\sspace)))", case = False),
        ocod_data['property_address'].str.contains(r"^((the airspace)|(airspace))", case = False),
        ocod_data['property_address'].str.contains(r"(penthouse|flat|apartment)"),
        ocod_data['property_address'].str.contains(r"(cinema)|(hotel)|(office)|centre|(\bpub)|(business)|(cafe)|(^shop)|( shop)|(restaurant)|(home)|(\bstore\b)|(\bstorage\\b)|(company)|(ltd)|(limited)|(plc)|(retail)|(leisure)|(industrial)|(hall of)", case = False), 
        ocod_data['property_address'].str.contains(r"part of", case = False),
        ocod_data['property_address'].str.contains(r"floor", case = False),
        #ocod_data['within_larger_title']==True, #experimental
        (ocod_data['business_counts']==0 )& ocod_data.postcode.notnull()
    ], 
    [
        'land',
        'carpark',
        'airspace',
        'domestic',
        'business',
        'business',
        'business',
        #'domestic', #experimental
        'domestic'
    ], 
    default='unknown'
)

<ipython-input-80-522be81ff9d4>:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['property_address'].str.contains(r"^(land|plot)", case = False),
<ipython-input-80-522be81ff9d4>:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['property_address'].str.contains(r"^((garage)|(parking(\s)?space)|(parking space)|(car park(ing)?(\sspace)))", case = False),
<ipython-input-80-522be81ff9d4>:5: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['property_address'].str.contains(r"^((the airspace)|(airspace))", case = False),
<ipython-input-80-522be81ff9d4>:6: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['property_address'].str.contains(r"(penthouse|flat|apartment)"),
<ipython-input-80-522be81ff9d4>:7: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['property_address'].str.contains(r"(cinema)|(hotel)|(office)|centre|(\bpub)|(business)|(cafe)|(^shop)|( shop)|(restaurant)|(home)|(\bstore\b)|(\bstorage\\b)|(company)|(ltd)|(limited)|(plc)|(retail)|(leisure)|(industrial)|(hall of)", case = False),

In [81]:
#if we can be relatively sure that all the nested properties are domestic then the amount of unclassified 
#properties drops to 2%
#What would allow us to be sure?
ocod_data.groupby('class').size()

class
airspace     1671
business    15167
carpark      2078
domestic    89600
land        16501
unknown     32343
dtype: int64

In [78]:
ocod_data.groupby('class').size()

class
airspace     1671
business    15167
carpark      2078
domestic    89600
land        16501
unknown     32343
dtype: int64

In [11]:
ocod_data.groupby('class').size()/ocod_data.shape[0]

class
airspace    0.010619
business    0.088453
carpark     0.013205
domestic    0.574549
land        0.104861
unknown     0.208312
dtype: float64

In [12]:
pd.crosstab(ocod_data['tenure'], ocod_data['region'].str.lower())#.to_latex() #convert to copyable latex table

region,east anglia,east midlands,greater london,north,north west,south east,south west,wales,west midlands,yorks and humber
tenure,,,,,,,,,,
Freehold,3330,4962,25457,3177,16421,17922,5465,3341,5083,8840
Leasehold,460,1282,42530,906,5855,5462,1677,667,1791,2732

In [13]:
pd.crosstab(ocod_data['class'], ocod_data['region'].str.lower())#.to_latex() #convert to copyable latex table

region,east anglia,east midlands,greater london,north,north west,south east,south west,wales,west midlands,yorks and humber
class,,,,,,,,,,
airspace,50,162,91,15,215,185,266,290,94,303
business,164,316,9053,329,866,1644,434,146,312,655
carpark,10,7,1283,14,474,151,71,4,27,37
domestic,2575,3167,45454,1949,9940,13088,3932,1432,3921,4953
land,630,1143,2586,721,2186,4792,1239,617,1290,1297
unknown,361,1449,9520,1055,8595,3524,1200,1519,1230,4327

In [14]:
pd.crosstab(ocod_data['class'], ocod_data['tenure'])#.to_latex() #convert to copyable latex table

tenure    Freehold  Leasehold
class
airspace         7       1664
business      3061      10858
carpark        156       1922
domestic     47954      42457
land         14659       1842
unknown      28161       4619

In [15]:
temp_df = ocod_data[['title_number', 'tenure', 'within_larger_title']].drop_duplicates()

#most of titles containing nested addresses are free hold by about 3/2
pd.crosstab(temp_df['tenure'], temp_df['within_larger_title'])

within_larger_title  False  True
tenure
Freehold             46689  4034
Leasehold            41378  1483

In [16]:
#The analysis is based on nested addresses being domestic
temp_df = ocod_data[['title_number', 'tenure', 'property_address']][ocod_data['within_larger_title']==True]
temp_df['is_flat'] = temp_df['property_address'].str.contains(r"(flat|apartment|penthouse|unit)", case = False)

#pd.crosstab(temp_df['tenure'], temp_df['within_larger_title'])

temp_df.groupby('tenure').size()

#Of nested addresses freehold is more common by 3/2 50k to 24k
#most of theproperties are not flats however flats dominate the leasehold section
#flats are 1/3 of nested addresses but make up almost 3/4 of the leashold nested addresses
#note this does not include items marked as units
pd.crosstab(temp_df.tenure, temp_df.is_flat)

<ipython-input-16-c3f690fb0170>:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  temp_df['is_flat'] = temp_df['property_address'].str.contains(r"(flat|apartment|penthouse|unit)", case = False)

is_flat    False   True
tenure
Freehold   40400   6909
Leasehold   5489  16495

In [17]:
ocod_data[ocod_data.price_paid.notnull()==True].to_csv("/tf/empty_homes_data/ocod_price_paid.csv")
pd.crosstab(ocod_data.within_larger_title, ocod_data.price_paid.notnull())

price_paid           False   True
within_larger_title
False                57236  30831
True                 57817  11476

## Road matching

In [18]:
ocod_data.groupby('district').size().sort_values(ascending=False)

district
CITY OF WESTMINSTER       15052
KENSINGTON AND CHELSEA     6868
TOWER HAMLETS              4048
WANDSWORTH                 3755
SHEFFIELD                  3690
                          ...
DERBYSHIRE DALES             27
MELTON                       25
BOSTON                       16
RUTLAND                      13
ISLES OF SCILLY               4
Length: 331, dtype: int64

In [5]:
import io
import zipfile


target_post_area = "pcd11_par11_wd11_lad11_ew_lu.csv"

with zipfile.ZipFile("/tf/empty_homes_data/" + "pcd11_par11_wd11_lad11_ew_lu.zip") as zf:
    with io.TextIOWrapper(zf.open(target_post_area), encoding = 'latin-1') as f:
        postcode_district_lookup = pd.read_csv(f)[['pcds', 'lad11cd', 'lad11nm']]
        postcode_district_lookup.rename(columns = {'pcds':'postcode2'}, inplace = True)
        #spaces are removed because I don't know if the formatting is the same in the two datasets
        postcode_district_lookup['postcode2']= postcode_district_lookup['postcode2'].str.lower().str.replace("\s", "")

<ipython-input-5-a66f39d0ac0e>:9: DtypeWarning: Columns (5,8,11) have mixed types. Specify dtype option on import or set low_memory=False.
  postcode_district_lookup = pd.read_csv(f)#[['pcds', 'lad11cd', 'lad11nm']]
<ipython-input-5-a66f39d0ac0e>:12: FutureWarning: The default value of regex will change from True to False in a future version.
  postcode_district_lookup['postcode2']= postcode_district_lookup['postcode2'].str.lower().str.replace("\s", "")

import io
import zipfile


target_post_area = "Data/ONSPD_NOV_2021_UK.csv"

with zipfile.ZipFile("/tf/empty_homes_data/" + "ONSPD_NOV_2021_UK.zip") as zf:
    with io.TextIOWrapper(zf.open(target_post_area), encoding = 'latin-1') as f:
        postcode_district_lookup = pd.read_csv(f)[('ctry' == 'E92000001') | ('ctry' == 'W92000004')]#[['PCDS','oslaua','LSOA11', 'MSOA11']]
       # postcode_district_lookup.rename(columns = {'pcds':'postcode2'}, inplace = True)
        #spaces are removed because I don't know if the formatting is the same in the two datasets
       # postcode_district_lookup['postcode2']= postcode_district_lookup['postcode2'].str.lower().str.replace("\s", "")

In [17]:
postcode_district_lookup.columns

Index(['pcd', 'pcd2', 'pcds', 'dointr', 'doterm', 'oscty', 'ced', 'oslaua',
       'osward', 'parish', 'usertype', 'oseast1m', 'osnrth1m', 'osgrdind',
       'oshlthau', 'nhser', 'ctry', 'rgn', 'streg', 'pcon', 'eer', 'teclec',
       'ttwa', 'pct', 'itl', 'statsward', 'oa01', 'casward', 'park', 'lsoa01',
       'msoa01', 'ur01ind', 'oac01', 'oa11', 'lsoa11', 'msoa11', 'wz11', 'ccg',
       'bua11', 'buasd11', 'ru11ind', 'oac11', 'lat', 'long', 'lep1', 'lep2',
       'pfa', 'imd', 'calncv', 'stp'],
      dtype='object')

In [18]:
postcode_district_lookup

,pcd,pcd2,pcds,dointr,doterm,oscty,ced,oslaua,osward,parish,...,ru11ind,oac11,lat,long,lep1,lep2,pfa,imd,calncv,stp
0,AB1 0AA,AB1 0AA,AB1 0AA,198001,199606.0,S99999999,S99999999,S12000033,S13002843,S99999999,...,3.0,1C3,57.101474,-2.242851,S99999999,S99999999,S23000009,6715,S99999999,S99999999
1,AB1 0AB,AB1 0AB,AB1 0AB,198001,199606.0,S99999999,S99999999,S12000033,S13002843,S99999999,...,3.0,1C3,57.102554,-2.246308,S99999999,S99999999,S23000009,6715,S99999999,S99999999
2,AB1 0AD,AB1 0AD,AB1 0AD,198001,199606.0,S99999999,S99999999,S12000033,S13002843,S99999999,...,3.0,6A1,57.100556,-2.248342,S99999999,S99999999,S23000009,6715,S99999999,S99999999
3,AB1 0AE,AB1 0AE,AB1 0AE,199402,199606.0,S99999999,S99999999,S12000034,S13002864,S99999999,...,6.0,1A2,57.084444,-2.255708,S99999999,S99999999,S23000009,5069,S99999999,S99999999
4,AB1 0AF,AB1 0AF,AB1 0AF,199012,199207.0,S99999999,S99999999,S12000033,S13002843,S99999999,...,3.0,6A4,57.096656,-2.258102,S99999999,S99999999,S23000009,6253,S99999999,S99999999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2668994,ZE3 9JW,ZE3 9JW,ZE3 9JW,198001,NaN,S99999999,S99999999,S12000027,S13002776,S99999999,...,8,1B1,59.873651,-1.305697,S99999999,S99999999,S23000009,4141,S99999999,S99999999
2668995,ZE3 9JX,ZE3 9JX,ZE3 9JX,198001,NaN,S99999999,S99999999,S12000027,S13002776,S99999999,...,8,1B1,59.875286,-1.307502,S99999999,S99999999,S23000009,4141,S99999999,S99999999
2668996,ZE3 9JY,ZE3 9JY,ZE3 9JY,198001,NaN,S99999999,S99999999,S12000027,S13002776,S99999999,...,8,1A1,59.891572,-1.313847,S99999999,S99999999,S23000009,4141,S99999999,S99999999
2668997,ZE3 9JZ,ZE3 9JZ,ZE3 9JZ,198001,NaN,S99999999,S99999999,S12000027,S13002776,S99999999,...,8,1A1,59.892392,-1.310899,S99999999,S99999999,S23000009,4141,S99999999,S99999999
2668998,ZE3 9XP,ZE3 9XP,ZE3 9XP,198107,199207.0,S99999999,S99999999,S12000027,S13002776,S99999999,...,8,1B3,59.887104,-1.307578,S99999999,S99999999,S23000009,4141,S99999999,S99999999

In [26]:

voa_businesses['postcode2'] = voa_businesses['postcode'].str.lower().str.replace("\s", "")

voa_businesses = voa_businesses.merge(postcode_district_lookup, 'left', left_on = "postcode2", right_on = "postcode2")
#postcode_district_lookup

<ipython-input-26-cfae2ca89cd1>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  voa_businesses['postcode2'] = voa_businesses['postcode'].str.lower().str.replace("\s", "")

In [27]:
voa_businesses.columns

Index(['incrementing_entry_number', 'billing_authority_code',
       'ndr_community_code', 'ba_reference_number',
       'primary_and_secondary_description_code', 'primary_description_text',
       'unique_address_reference_number_uarn', 'full_property_identifier',
       'firms_name', 'number_or_name', 'street', 'town', 'postal_district',
       'county', 'postcode', 'effective_date', 'composite_indicator',
       'rateable_value', 'appeal_settlement_code', 'assessment_reference',
       'list_alteration_date', 'scat_code_and_suffix', 'sub_street_level_3',
       'sub_street_level_2', 'sub_street_level_1', 'case_number',
       'current_from_date', 'current_to_date', 'postcode2', 'lad11cd',
       'lad11nm'],
      dtype='object')

In [100]:
ocod_district = ocod_data[(ocod_data['district'].str.lower() == 'tower hamlets') & (ocod_data['class'] == "unknown") & ocod_data.street_name.notnull() ]

ocod_district = ocod_district[['title_number', 'unit_id', 'building_name','street_number', 'street_name', 'property_address' ]]
voa_district = voa_businesses[voa_businesses['lad11nm'].str.lower() =='tower hamlets']

In [99]:
ocod_data.groupby('district').size().to_csv('/tf/empty_homes_data/ocod_districts.csv')

In [101]:
ocod_district[~ocod_district.street_name.str.strip().isin(voa_district.street.str.lower().unique())].to_csv("/tf/empty_homes_data/delete_me.csv")

In [85]:
pd.crosstab(voa_businesses.postcode.isnull(),voa_businesses.postcode.isnull())

postcode    False  True
postcode
False     2552185     0
True            0  1414

## Largest nested addresses

In [ ]:
#The largest nested address
ocod_data.within_title_id.max()

In [ ]:
ocod_data[ocod_data.within_title_id==ocod_data.within_title_id.max()].reset_index()['property_address'][0]

In [102]:
ocod_data.to_csv("/tf/empty_homes_data/OCOD_classes.csv")

In [ ]:
test  = ocod_data[ocod_data['class']=="unknown" ]

pd.crosstab(test.postcode.notnull(), test.street_name.notnull())

In [ ]:
ocod_data[ ocod_data.street_name.isnull()].to_csv("/tf/empty_homes_data/OCOD_no_street.csv")

In [ ]:
1/21